django==1.11.10
psycopg2-binary
django-govuk-template==0.4
django-govuk-forms==0.4
unittest-xml-reporting
requests
whitenoise
django-google-analytics-app==4.2.0
django-settings-export==1.2.1
django-debug-toolbar
django_extensions
django-timeline-logger
pydotplus

