{% extends 'govuk_template.html' %}
{% block page_title %}Your account{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            Register as a childminder
        </h1>
        <p>Register as a childminder to look after children in your home.</p>
        <p>Enter some simple details to create an account or sign in if you have already started to apply.</p>
    </div>
    <div class="column-full">
        <h2 class="heading-medium">
            Sign in or create an account
        </h2>
        <div class="form-group">
            <div class="column-half grid-row">
                <h3 class="heading-small">
                    I am applying for the first time
                </h3>
                <div class="form-group" style="margin-top: 20px;">
                    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
                        <input type="submit" class="button button-start" value="Create my account"
                               alt='Create my account'>
                        {{form.as_div}}
                        {% csrf_token %}
                        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
                    </form>
                </div>
            </div>
            <div class="column-half grid-row"
                 style="border-left-color: #BFC1C3; border-left-width: 5px; border-left-style: solid; margin-left:5px;">
                <h3 class="heading-small">
                    I already have an account
                </h3>
                <div class="form-group" style="margin-top: 20px;">
                    <a href="{{ URL_PREFIX }}/existing-application/" class="button button-start">Sign in</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column-two-thirds">
        <h2 class="heading-medium">Before you start</h2>
        <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">How much does it cost?</span>
            </summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p>It costs £35 to register, or £103 if you are only caring for children over 5.</p>
                <p>Criminal record (DBS) checks cost £52.10 each.</p>
                <p>First aid courses cost around £100 and you may have to pay for early years training, which costs
                    about £200.</p>
                <ul>
                    <li><a href="#" target="_blank">Read more about childminder costs</a></li>
                </ul>
            </div>
        </details>
        <details role="group">
            <summary role="button" aria-controls="details-content-1" aria-expanded="false"><span class="summary">Where can I get help?</span>
            </summary>
            <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
                <p>You can get free help and advice from your local council.</p>
                <p>Membership groups like Pacey provide training, guidance and advice.</p>
                <p>You could also get advice from other childminders on forums.</p>
                <ul>
                    <li><a href="http://findyourfis.familyandchildcaretrust.org/kb5/findyourfis/home.page"
                           target="_blank">Find your council's family information service</a></li>
                    <li><a href="https://www.pacey.org.uk/" target="_blank">Pacey (Professional Association for
                        Childcare and Early Years)</a></li>
                    <li><a href="http://www.childmindinghelp.co.uk/forum/" target="_blank">Childminding Forum</a></li>
                </ul>
            </div>
        </details>
    </div>
</div>

{% endblock %}
