{% extends 'govuk_template.html' %}
{% block page_title %}Type of Childcare{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        <a href="{{ URL_PREFIX }}/childcare/age-groups?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                Childcare Register (compulsory part)
            </h1>
            <p>You will be joining the compulsory part of the Childcare Register.</p>
            <p>It costs &#163;103 to apply.</p>
            <p>This will let you look after children aged 5 to 7.</p>
            <br>
            {% csrf_token %}
            {{form.as_div}}
            <input type="hidden" value="{{application_id}}" name="id"/>
            <input type="submit" class="button" value="Confirm and continue">
        </div>
    </form>
</div>

{% endblock %}