{% extends 'govuk_template.html' %}
{% block page_title %}Type of Childcare{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        {% if childcare_type_status == 'NOT_STARTED' %}
        <a href="{{ URL_PREFIX }}/account/summary?id={{application_id}}" class="link-back" style="margin-right: 10px;
        line-height: 28px">
            Back
        </a>
        {% elif childcare_type_status == 'IN_PROGRESS' %}
        <a href="{{ URL_PREFIX }}/account/summary?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
        {% elif childcare_type_status == 'COMPLETED' %}
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
        {% endif %}
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                Type of childcare
            </h1>
            <p>You will need to say what age groups you will be looking after.</p>
            <p>This is so you can join the right childminder register.</p>
            <p>There are different registers for preschool and school-aged children.</p>
            {% csrf_token %}
            {{form.as_div}}
            <input type="hidden" value="{{application_id}}" name="id"/>
            <input type="submit" class="button" value="Continue">
            <br>
            <br>
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </form>
</div>

{% endblock %}