{% extends 'govuk_template.html' %}
{% block page_title %}Your account{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">
            Check and confirm all your details
        </h1>
    </div>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your login details
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Email
            </td>
            <td>
                email@email.com
            </td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">email</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Childcare Type
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Looking after 0 to 5 year olds?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">0 to 5</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Looking after 5 to 7 year olds?
            </td>
            <td>No</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">5 to 7</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Looking after 8 year olds and older?
            </td>
            <td>No</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">8 and older</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your personal details
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Full name
            </td>
            <td>Jane Smith</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your name</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your first aid certificate
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                First aid training provider
            </td>
            <td>York Council</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your first aid training provider</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Title of first aid course
            </td>
            <td>
                First Aid for small children
            </td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">title of first aid course</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Date of first aid certificate
            </td>
            <td>
                31 March 2017
            </td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">date of first aid course</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Criminal record checks
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                DBS certificate number
            </td>
            <td>118924781279</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your dbs disclosure number</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Do you have any cautions or convictions?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your previous cautions or convictions</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Health checks
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Movement problems?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your problems with health</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Breathing difficulties?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your problems with health</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Heart disease?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your problems with health</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Blackouts, fits, epilepsy or fainting?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your problems with health</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Mental health issues?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your problems with health</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Alcohol or drug problems?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">your problems with health</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Early Years Foundation Stage
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Has EYFS knowledge?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">EYFS knowledge</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Will answer EYFS questions?
            </td>
            <td>Yes</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">EYFS questions</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    References
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><h3 class="heading-small">First reference</h3></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Full name
            </td>
            <td>Mary Pierce</td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">referee name</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Relationship
            </td>
            <td>
                Lecturer
            </td>
            <td class="change-answer">
                <a href="#">
                    Change <span class="visuallyhidden">referee relationship</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="form-group grid-row">
        <form action="{{ URL_PREFIX }}/payment" method="get">
            <input type="submit" class="button" value="Save and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>
        </form>
    </div>
    <input type="hidden" value="{{application_id}}" name="id"/>
    <div class="form-group grid-row">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
    </div>
</div>

{% endblock %}