{% extends 'govuk_template.html' %}
{% block page_title %}Your account{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/account/phone?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px"
           alt='Back to application list'>
            Back
        </a>
    </div>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                Your security question
            </h1>
            <p>In the event that you do not have access to your mobile phone, we will use a security question to ensure
                you are the one accessing the account.</p>
            <p>Please answer the below question to ensure that we can secure your account.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="hidden" id="id" value="{{application_id}}" name="id"/>
            <input type="submit" class="button" value="Save and continue" alt='Continue to declaration'>
        </div>
    </form>
    <!-- If applicant has previously completed this task, allow user to return to task list -->
    {% if login_details_status == 'COMPLETED' %}
    <div class="form-group grid-row">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
    </div>
    {% endif %}
</div>

{% endblock %}