{% extends 'govuk_template.html' %}
{% block page_title %}Application Summary{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">
            Check and confirm all your details
        </h1>
    </div>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your login details
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Email
            </td>
            <td>
                {{login_details_email}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/account/email?id={{application_id}}#id_email_address" alt="Update your email">
                    Change <span class="visuallyhidden">email</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Mobile phone number
            </td>
            <td>
                {{login_details_mobile_number}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/account/phone?id={{application_id}}#id_mobile_number" alt="Update your mobile phone number">
                    Change <span class="visuallyhidden">mobile phone number</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Alternative phone number
            </td>
            <td>
                {{login_details_alternative_phone_number}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/account/phone?id={{application_id}}#id_add_phone_number" alt="Update your alternative phone number">
                    Change <span class="visuallyhidden">alternative phone number</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Childcare Type
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Looking after 0 to 5 year olds?
            </td>
            {% if childcare_type_zero_to_five is True %}
            <td>
                Yes
            </td>
            {% elif childcare_type_zero_to_five is False %}
            <td>
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/childcare/age-groups?id={{application_id}}#id_type_of_childcare_0" alt="Update whether you plan to look after 0 to 5 year olds">
                    Change <span class="visuallyhidden">0 to 5</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Looking after 5 to 7 year olds?
            </td>
            {% if childcare_type_five_to_eight is True %}
            <td>
                Yes
            </td>
            {% elif childcare_type_five_to_eight is False %}
            <td>
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/childcare/age-groups?id={{application_id}}#id_type_of_childcare_1" alt="Update whether you plan to look after 5 to 7 year olds">
                    Change <span class="visuallyhidden">5 to 7</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Looking after 8 year olds and older?
            </td>
            {% if childcare_type_eight_plus is True %}
            <td>
                Yes
            </td>
            {% elif childcare_type_eight_plus is False %}
            <td>
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/childcare/age-groups?id={{application_id}}#id_type_of_childcare_2" alt="Update whether you plan to look at children of 8 years and older">
                    Change <span class="visuallyhidden">8 and older</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Registers
            </td>
            {% if childcare_type_zero_to_five is True and childcare_type_five_to_eight is True and childcare_type_eight_plus is True %}
            <td>
                Early Years Register
                <br>
                Childcare Register
            </td>
            {% elif childcare_type_zero_to_five is True and childcare_type_five_to_eight is True and childcare_type_eight_plus is False %}
            <td>
                Early Years Register
                <br>
                Childcare Register
            </td>
            {% elif childcare_type_zero_to_five is True and childcare_type_five_to_eight is False and childcare_type_eight_plus is True %}
            <td>
                Early Years Register
                <br>
                Childcare Register
            </td>
            {% elif childcare_type_zero_to_five is False and childcare_type_five_to_eight is True and childcare_type_eight_plus is True %}
            <td>
                Childcare Register (compulsory & voluntary parts)
            </td>
            {% elif childcare_type_zero_to_five is True and childcare_type_five_to_eight is False and childcare_type_eight_plus is False %}
            <td>
                Early Years Register
            </td>
            {% elif childcare_type_zero_to_five is False and childcare_type_five_to_eight is True and childcare_type_eight_plus is False %}
            <td>
                Childcare Register (compulsory part)
            </td>
            {% elif childcare_type_zero_to_five is False and childcare_type_five_to_eight is False and childcare_type_eight_plus is True %}
            <td>
                Childcare Register (voluntary part)
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/childcare/age-groups?id={{application_id}}" alt="Update your registers">
                    Change <span class="visuallyhidden">registers</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your personal details
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Full name
            </td>
            {% if personal_details_middle_names %}
            <td style="word-wrap: break-word">
                {{personal_details_first_name}} {{personal_details_middle_names}} {{personal_details_last_name}}
            </td>
            {% elif not personal_details_middle_names %}
            <td style="word-wrap: break-word">
                {{personal_details_first_name}} {{personal_details_last_name}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/name?id={{application_id}}" alt="Update your name">
                    Change <span class="visuallyhidden">your name</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Date of Birth
            </td>
            {% if personal_details_birth_month == 1 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} January {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 2 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} February {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 3 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} March {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 4 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} April {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 5 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} May {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 6 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} June {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 7 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} July {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 8 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} August {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 9 %}
            <td>
                {{personal_details_birth_day}} September {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 10 %}
            <td>
                {{personal_details_birth_day}} October {{personal_details_birth_year}}
            </td style="word-wrap: break-word">
            {% elif personal_details_birth_month == 11 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} November {{personal_details_birth_year}}
            </td>
            {% elif personal_details_birth_month == 12 %}
            <td style="word-wrap: break-word">
                {{personal_details_birth_day}} December {{personal_details_birth_year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/dob?id={{application_id}}" alt="Update your date of birth">
                    Change <span class="visuallyhidden">date of birth</span>
                </a>
            </td>
        <tr>
            <td>
                Home address
            </td>
            {% if home_address_street_line2 and home_address_county %}
            <td style="word-wrap: break-word">
                {{home_address_street_line1}}
                </br>
                {{home_address_street_line2}}
                </br>
                {{home_address_town}}
                </br>
                {{home_address_county}}
                </br>
                {{home_address_postcode}}
            </td>
            {% elif home_address_street_line2 and not home_address_county %}
            <td style="word-wrap: break-word">
                {{home_address_street_line1}}
                </br>
                {{home_address_street_line2}}
                </br>
                {{home_address_town}}
                </br>
                {{home_address_postcode}}
            </td>
            {% elif not home_address_street_line2 and home_address_county %}
            <td style="word-wrap: break-word">
                {{home_address_street_line1}}
                </br>
                {{home_address_town}}
                </br>
                {{home_address_county}}
                </br>
                {{home_address_postcode}}
            </td>
            {% elif not home_address_street_line2 and not home_address_county %}
            <td style="word-wrap: break-word">
                {{home_address_street_line1}}
                </br>
                {{home_address_town}}
                </br>
                {{home_address_postcode}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/home-address?id={{application_id}}&manual=True"
                   alt='Update your home address'>
                    Change <span class="visuallyhidden">home address</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Childcare address
            </td>
            {% if location_of_childcare == True %}
            <td style="word-wrap: break-word">
                Same as home address
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/location-of-care?id={{application_id}}"
                   alt='Update your childcare address'>
                    Change <span class="visuallyhidden">childcare address</span>
                </a>
            </td>
            {% elif location_of_childcare == False %}
            {% if childcare_street_line2 and childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_street_line2}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_county}}
                </br>
                {{childcare_postcode}}
            </td>
            {% elif childcare_street_line2 and not childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_street_line2}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_postcode}}
            </td>
            {% elif not childcare_street_line2 and childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_county}}
                </br>
                {{childcare_postcode}}
            </td>
            {% elif not childcare_street_line2 and not childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_postcode}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/childcare-address?id={{application_id}}&manual=True"
                   alt='Update your childcare address'>
                    Change <span class="visuallyhidden">childcare address</span>
                </a>
            </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your first aid certificate
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                First aid training provider
            </td>
            <td style="word-wrap: break-word">
                {{first_aid_training_organisation}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_first_aid_training_organisation"
                   alt='Update your first aid training provider'>
                    Change <span class="visuallyhidden">first aid training provider</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Title of first aid course
            </td>
            <td style="word-wrap: break-word">
                {{first_aid_training_course}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_title_of_training_course"
                   alt='Update your first aid training course title'>
                    Change <span class="visuallyhidden">course title</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Date of first aid certificate
            </td>
            {% if first_aid_certificate_month == 1 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} January {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 2 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} February {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 3 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} March {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 4 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} April {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 5 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} May {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 6 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} June {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 7 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} July {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 8 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} August {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 9 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} September {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 10 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} October {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 11 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} November {{first_aid_certificate_year}}
            </td>
            {% elif first_aid_certificate_month == 12 %}
            <td style="word-wrap: break-word">
                {{first_aid_certificate_day}} December {{first_aid_certificate_year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}"
                   alt='Update your first aid certificate date'>
                    Change <span class="visuallyhidden">date of first aid certificate</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Criminal record checks
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                DBS certificate number
            </td>
            <td style="word-wrap: break-word">
                {{dbs_certificate_number}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/dbs-check/dbs-details?id={{application_id}}#id_dbs_certificate_number"
                   alt='Update your DBS certificate number'>
                    Change <span class="visuallyhidden">DBS certificate number</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Do you have any cautions or convictions?
            </td>
            {% if cautions_convictions is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif cautions_convictions is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/dbs-check/dbs-details?id={{application_id}}"
                   alt='Update whether you have any cautions or convictions?'>
                    Change <span class="visuallyhidden">do you have any cautions or convictions?</span>
                </a>
            </td>
        </tr>
        {% if cautions_convictions is True %}
        <tr>
            <td style="word-wrap: break-word">
                Will you send your DBS certificate to Ofsted?
            </td>
            {% if declaration is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif declaration is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/dbs-check/upload-dbs?id={{application_id}}#id_declaration"
                   alt='Update whether you will send your DBS certificate to Ofsted?'>
                    Change <span class="visuallyhidden">will you send your DBS certificate to Ofsted?</span>
                </a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Health checks
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Provide a Health Declaration Booklet?
            </td>
            {% if send_hdb_declare is True %}
            <td>
                Yes
            </td>
            {% elif send_hdb_declare is False %}
            <td>
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/health/booklet?id={{application_id}}#id_send_hdb_declare" alt="Update your declaration to send a Health Declaration Booklet to Ofsted">
                    Change <span class="visuallyhidden">your declaration to provide a Health Declaration Booklet</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Early Years Foundation Stage
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Has EYFS knowledge?
            </td>
            {% if eyfs_understand is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif eyfs_understand is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/eyfs/knowledge?id={{application_id}}#id_eyfs_understand"
                   alt='Update your EYFS knowledge answer'>
                    Change <span class="visuallyhidden">EYFS knowledge answer</span>
                </a>
            </td>
        </tr>
        {% if eyfs_training_declare is True %}
        <tr>
            <td>
                Will go on EYFS course?
            </td>
            {% if eyfs_training_declare is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif eyfs_training_declare is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/eyfs/training?id={{application_id}}#id_eyfs_training_declare"
                   alt='Update your answer on EYFS training course'>
                    Change <span class="visuallyhidden">answer on EYFS training course</span>
                </a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                Will answer EYFS questions?
            </td>
            {% if eyfs_questions_declare is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif eyfs_questions_declare is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/eyfs/questions?id={{application_id}}#id_eyfs_questions_declare"
                   alt='Update your answer on EYFS questions'>
                    Change <span class="visuallyhidden">answer on EYFS questions</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    First reference
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Full name
            </td>
            <td style="word-wrap: break-word">
                {{first_reference_first_name}} {{first_reference_last_name}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/first-reference?id={{application_id}}" alt="Update your first reference's name">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                How they know you
            </td>
            <td style="word-wrap: break-word">
                {{first_reference_relationship}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/first-reference?id={{application_id}}#id_relationship" alt="Update your first reference's relationship">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Known for
            </td>
            <td style="word-wrap: break-word">
                {{first_reference_years_known}} years, {{first_reference_months_known}} months
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/first-reference?id={{application_id}}" alt="Update your first reference's time known">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            {% if first_reference_street_line2 and first_reference_county %}
            <td style="word-wrap: break-word">
                {{first_reference_street_line1}}
                </br>
                {{first_reference_street_line2}}
                </br>
                {{first_reference_town}}
                </br>
                {{first_reference_county}}
                </br>
                {{first_reference_postcode}}
                </br>
                {{first_reference_country}}
            </td>
            {% elif first_reference_street_line2 and not first_reference_county %}
            <td style="word-wrap: break-word">
                {{first_reference_street_line1}}
                </br>
                {{first_reference_street_line2}}
                </br>
                {{first_reference_town}}
                </br>
                {{first_reference_postcode}}
                </br>
                {{first_reference_country}}
            </td>
            {% elif not first_reference_street_line2 and first_reference_county %}
            <td style="word-wrap: break-word">
                {{first_reference_street_line1}}
                </br>
                {{first_reference_town}}
                </br>
                {{first_reference_county}}
                </br>
                {{first_reference_postcode}}
                </br>
                {{first_reference_country}}
            </td>
            {% elif not first_reference_street_line2 and not first_reference_county %}
            <td style="word-wrap: break-word">
                {{first_reference_street_line1}}
                </br>
                {{first_reference_town}}
                </br>
                {{first_reference_postcode}}
                </br>
                {{first_reference_country}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/first-reference-address?id={{application_id}}&manual=True" alt="Update your first reference's address">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Phone number
            </td>
            <td style="word-wrap: break-word">
                {{first_reference_phone_number}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/first-reference-contact-details?id={{application_id}}#id_phone_number" alt="Update your first reference's phone number">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Email address
            </td>
            <td style="word-wrap: break-word">
                {{first_reference_email}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/first-reference-contact-details?id={{application_id}}#id_email_address" alt="Update your first reference's email">
                    Change
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Second reference
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Full name
            </td>
            <td style="word-wrap: break-word">
                {{second_reference_first_name}} {{second_reference_last_name}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/second-reference?id={{application_id}}" alt="Update your second reference's name">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                How they know you
            </td>
            <td style="word-wrap: break-word">
                {{second_reference_relationship}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/second-reference?id={{application_id}}#id_relationship" alt="Update your second reference's relationship">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Known for
            </td>
            <td style="word-wrap: break-word">
                {{second_reference_years_known}} years, {{second_reference_months_known}} months
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/second-reference?id={{application_id}}" alt="Update your second reference's time known">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            {% if second_reference_street_line2 and second_reference_county %}
            <td style="word-wrap: break-word">
                {{second_reference_street_line1}}
                </br>
                {{second_reference_street_line2}}
                </br>
                {{second_reference_town}}
                </br>
                {{second_reference_county}}
                </br>
                {{second_reference_postcode}}
                </br>
                {{second_reference_country}}
            </td>
            {% elif second_reference_street_line2 and not second_reference_county %}
            <td style="word-wrap: break-word">
                {{second_reference_street_line1}}
                </br>
                {{second_reference_street_line2}}
                </br>
                {{second_reference_town}}
                </br>
                {{second_reference_postcode}}
                </br>
                {{second_reference_country}}
            </td>
            {% elif not second_reference_street_line2 and second_reference_county %}
            <td style="word-wrap: break-word">
                {{second_reference_street_line1}}
                </br>
                {{second_reference_town}}
                </br>
                {{second_reference_county}}
                </br>
                {{second_reference_postcode}}
                </br>
                {{second_reference_country}}
            </td>
            {% elif not second_reference_street_line2 and not second_reference_county %}
            <td style="word-wrap: break-word">
                {{second_reference_street_line1}}
                </br>
                {{second_reference_town}}
                </br>
                {{second_reference_postcode}}
                </br>
                {{second_reference_country}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/second-reference-address?id={{application_id}}&manual=True" alt="Update your second reference's address">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Phone number
            </td>
            <td style="word-wrap: break-word">
                {{second_reference_phone_number}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/second-reference-contact-details?id={{application_id}}#id_phone_number" alt="Update your second reference's phone number">
                    Change
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Email address
            </td>
            <td style="word-wrap: break-word">
                {{second_reference_email}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/references/second-reference-contact-details?id={{application_id}}#id_email_address" alt="Update your second reference's email">
                    Change
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Adults in your home
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Do you live with anyone who is 16 or over?
            </td>
            {% if adults_in_home is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif adults_in_home is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-question?id={{application_id}}"
                   alt='Update the adults in your home'>
                    Change <span class="visuallyhidden">adults in your home</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Children in your home
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Do you live with any children?
            </td>
            {% if children_in_home is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif children_in_home is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-question?id={{application_id}}"
                   alt='Update the children in your home'>
                    Change <span class="visuallyhidden">children in your home</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {% for name, day, month, year, relationship, dbs_certificate_number, permission in adult_lists %}
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    {{name}}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="word-wrap: break-word">
                Name
            </td>
            <td style="word-wrap: break-word">
                {{name}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-details?id={{application_id}}&adults={{number_of_adults}}&remove=0"
                   alt="Update the adult's name">
                    Change <span class="visuallyhidden">adult name</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word">
                Date of birth
            </td>
            {% if month == 1 %}
            <td style="word-wrap: break-word">
                {{day}} January {{year}}
            </td>
            {% elif month == 2 %}
            <td style="word-wrap: break-word">
                {{day}} February {{year}}
            </td>
            {% elif month == 3 %}
            <td style="word-wrap: break-word">
                {{day}} March {{year}}
            </td>
            {% elif month == 4 %}
            <td style="word-wrap: break-word">
                {{day}} April {{year}}
            </td>
            {% elif month == 5 %}
            <td style="word-wrap: break-word">
                {{day}} May {{year}}
            </td>
            {% elif month == 6 %}
            <td style="word-wrap: break-word">
                {{day}} June {{year}}
            </td>
            {% elif month == 7 %}
            <td style="word-wrap: break-word">
                {{day}} July {{year}}
            </td>
            {% elif month == 8 %}
            <td style="word-wrap: break-word">
                {{day}} August {{year}}
            </td>
            {% elif month == 9 %}
            <td style="word-wrap: break-word">
                {{day}} September {{year}}
            </td>
            {% elif month == 10 %}
            <td style="word-wrap: break-word">
                {{day}} October {{year}}
            </td>
            {% elif month == 11 %}
            <td style="word-wrap: break-word">
                {{day}} November {{year}}
            </td>
            {% elif month == 12 %}
            <td style="word-wrap: break-word">
                {{day}} December {{year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-details?id={{application_id}}&adults={{number_of_adults}}&remove=0"
                   alt="Update the adult's date of birth">
                    Change <span class="visuallyhidden">date of birth</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word">
                Relationship
            </td>
            <td style="word-wrap: break-word">
                {{relationship}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-details?id={{application_id}}&adults={{number_of_adults}}&remove=0"
                   alt="Update the adult's relationship">
                    Change <span class="visuallyhidden">adult relationship</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word">
                DBS certificate number
            </td>
            <td style="word-wrap: break-word">
                {{dbs_certificate_number}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-dbs?id={{application_id}}&adults={{number_of_adults}}"
                   alt="Update the adult's DBS certificate number">
                    Change <span class="visuallyhidden">adult DBS certificate number</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word">
                Permission for checks
            </td>
            {% if permission is True %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% elif permission is False %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-permission?id={{application_id}}&adults={{number_of_adults}}"
                   alt="Update the adult's permission for checks">
                    Change <span class="visuallyhidden">adult permission for checks</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
    {% for name, day, month, year, relationship in child_lists %}
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    {{name}}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="word-wrap: break-word">
                Name
            </td>
            <td style="word-wrap: break-word">
                {{name}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0"
                   alt="Update the child's name">
                    Change <span class="visuallyhidden">child name</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word">
                Date of birth
            </td>
            {% if month == 1 %}
            <td style="word-wrap: break-word">
                {{day}} January {{year}}
            </td>
            {% elif month == 2 %}
            <td style="word-wrap: break-word">
                {{day}} February {{year}}
            </td>
            {% elif month == 3 %}
            <td style="word-wrap: break-word">
                {{day}} March {{year}}
            </td>
            {% elif month == 4 %}
            <td style="word-wrap: break-word">
                {{day}} April {{year}}
            </td>
            {% elif month == 5 %}
            <td style="word-wrap: break-word">
                {{day}} May {{year}}
            </td>
            {% elif month == 6 %}
            <td style="word-wrap: break-word">
                {{day}} June {{year}}
            </td>
            {% elif month == 7 %}
            <td style="word-wrap: break-word">
                {{day}} July {{year}}
            </td>
            {% elif month == 8 %}
            <td style="word-wrap: break-word">
                {{day}} August {{year}}
            </td>
            {% elif month == 9 %}
            <td style="word-wrap: break-word">
                {{day}} September {{year}}
            </td>
            {% elif month == 10 %}
            <td style="word-wrap: break-word">
                {{day}} October {{year}}
            </td>
            {% elif month == 11 %}
            <td style="word-wrap: break-word">
                {{day}} November {{year}}
            </td>
            {% elif month == 12 %}
            <td style="word-wrap: break-word">
                {{day}} December {{year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0"
                   alt="Update the child's date of birth">
                    Change <span class="visuallyhidden">date of birth</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word">
                Relationship
            </td>
            <td style="word-wrap: break-word">
                {{relationship}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0"
                   alt="Update the child's relationship">
                    Change <span class="visuallyhidden">child relationship</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
    <br>
    <div class="form-group grid-row">
        <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
            {% csrf_token %}
            <input type="submit" class="button" value="Confirm and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>
        </form>
    </div>
    <br>
    <!-- Return to task list -->
    <div class="form-group grid-row">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
    </div>
    <input type="hidden" value="{{application_id}}" name="id"/>
</div>

{% endblock %}