{% extends 'govuk_template.html' %}
{% block page_title %}Email sent{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/existing-application/" style="margin-right: 10px; line-height: 28px" alt="Back to application list">
            <svg width="18px" height="17px" viewBox="0 -30 10 110" xml:space="preserve">
                <polyline fill="solid" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
            </svg>
            Back
        </a>
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">
            Check your e-mail
        </h1>
        <p>An e-mail has been sent to you with a link to retrieve your application.</p>
        <a href="{{ URL_PREFIX }}/">Return to account selection</a>
    </div>
</div>

{% endblock %}