{% extends 'govuk_template.html' %}
{% block page_title %}Email sent{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<head>
    <style>
        #content {
            margin: auto;
        }

    </style>
</head>
<div class="column-full">
    <div class="grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/existing-application/" class="link-back" style="margin-right: 10px; line-height: 28px"
           alt="Back to application list">
            Back
        </a>
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">
            Check your e-mail
        </h1>
        <p>An e-mail has been sent to you with a link to retrieve your application.</p>
        <a href="{{ URL_PREFIX }}/">Return to account selection</a>
    </div>
</div>

{% endblock %}