{% extends 'govuk_template.html' %}
{% block page_title %}Log back in{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<head>
    <style>
        #content {
            margin: auto;
        }

    </style>
</head>
<div class="column-full">
    <div class="grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/" class="link-back" style="margin-right: 10px; line-height: 28px" alt="Back to application list">
            Back
        </a>
    </div>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        <div class="grid-row">
            <h1 class="form-title heading-large">
                Log into your childminder application
            </h1>
            <p>Please enter your email address so we can find your application.</p>
            {% csrf_token %}
            {{form.as_div}}
        </div>
        <div class="form-group grid-row">
            <input type="submit" class="button" value="Continue">
            <input type="hidden" name="id" value="Save and continue" />
        </div>
    </form>
</div>
	
{% endblock %}