<!-- Tab title -->
<head>
	<title>Log back in</title>
</head>
{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<main id="content" role="main">
	<div class="column-full">
		<div class="form-group grid-row" style="padding-top: 30px;">
			<!-- Back button -->	    	
		    <a href="/" style="margin-right: 10px; line-height: 28px" alt="Back to application list">
		        <svg width="18px" height="17px" viewBox="0 -30 10 110" xml:space="preserve">
		        	<polyline fill="solid" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
		        </svg>
		        Back
		    </a>
		</div>
		<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
		    <div class="grid-row">
				<h1 class="form-title heading-large">
					Your email address
		       	</h1>
		        <p>Enter your email address so you can save your application.</p>
		        {% csrf_token %}
		        {{form.as_div}}
		    </div>
		    <div class="form-group grid-row">
				<input type="submit" class="button" value="Save and continue">
			    <input type="hidden" name="id" value="Save and continue" />
			</div>    
		</form>
	</main>
	
{% endblock %}