{% extends 'govuk_template.html' %}
{% block page_title %}Early years knowledge{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<div class="column-full">
    <div class="grid-row">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/eyfs/knowledge?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px"
           alt="Back to application list">
            Back
        </a>
    </div>
    <div class="form-group grid-row">
        <h1 class="form-title heading-large">
            Early years training
        </h1>
        <p>You will need to go on an early years training course.</p>
        <p>Courses cost around &#163;200.</p>
        <p>Make sure it covers all of the Early Years Foundation Stage.</p>
        <div class="form-group">
            <details>
                <summary><span class="summary">Where can I get training?</span></summary>
                <div class="panel panel-border-narrow">
                    <p>Your council can give you details of courses in your area.</p>
                    <ul>
                        <li><a href="https://www.gov.uk/find-local-council" target="_blank">Find your local council</a>
                        </li>
                    </ul>
                </div>
            </details>
        </div>
        <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
            <h2 class="form-title heading-medium">
                I declare that:
            </h2>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Continue" alt='Continue to declaration'>
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
            </br>
            </br>
            <!-- Return to task list -->
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </form>
    </div>
</div>

{% endblock %}