{% extends 'govuk_template.html' %}
{% block page_title %}Early Years knowledge{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<form action="eyfs" method="post" class="form">
    <div style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <h1 class="form-title heading-large">
            Early Years Foundation Stage
        </h1>
        <p>Some text on this page to illustrate that you need to have EYFS knowledge.</p>
        {% csrf_token %}
        {{form.as_div}}
        <input type="hidden" value="{{application_id}}" name="id"/>
        <input type="submit" class="button" value="Save and continue">
        <br>
        <br>
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </form>

    {% endblock %}