{% extends 'govuk_template.html' %}
{% block page_title %}First aid training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        <h1 class="form-title heading-large">Check your answers: first aid training</h1>
    </div>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    First aid training
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Training organisation
            </td>
            <td style="word-wrap: break-word">
                {{training_organisation}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_first_aid_training_organisation"
                   alt='Change training organisation'>
                    Change <span class="visuallyhidden">training organisation</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Title of training course
            </td>
            <td style="word-wrap: break-word">
                {{training_course}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_title_of_training_course"
                   alt='Change course title'>
                    Change <span class="visuallyhidden">course title</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Date you completed course
            </td>
            {% if certificate_month < 10 and certificate_day < 10 %}
            <td style="word-wrap: break-word">
                0{{certificate_day}}/0{{certificate_month}}/{{certificate_year}}
            </td>
            {% elif certificate_month < 10 and certificate_day >= 10 %}
            <td style="word-wrap: break-word">
                {{certificate_day}}/0{{certificate_month}}/{{certificate_year}}
            </td>
            {% elif certificate_month >= 10 and certificate_day < 10 %}
            <td style="word-wrap: break-word">
                0{{certificate_day}}/{{certificate_month}}/{{certificate_year}}
            </td>
            {% elif certificate_month >= 10 and certificate_day >= 10 %}
            <td style="word-wrap: break-word">
                {{certificate_day}}/{{certificate_month}}/{{certificate_year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_course_date-label"
                   alt='Change date of certificate'>
                    Change <span class="visuallyhidden">date of certificate</span>
                </a>
            </td>
        </tr>
        {% if show_certificate is True %}
        <tr>
            <td>
                Will you show a copy of your certificate to an inspector?
            </td>
            <td style="word-wrap: break-word">
                Yes
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/certificate?id={{application_id}}">
                    Change <span class="visuallyhidden">declaration to show certificate to inspector</span>
                </a>
            </td>
        </tr>
        {% endif %}
        {% if renew_certificate is True %}
        <tr>
            <td>
                Will you renew your certificate in the next few months?
            </td>
            <td style="word-wrap: break-word">
                Yes
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/first-aid/renew?id={{application_id}}">
                    Change <span class="visuallyhidden">declaration to show certificate to inspector</span>
                </a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <br>
    <div class="form-group grid-row">
        <form action="{{ URL_PREFIX }}/task-list?id={{application_id}}" method="get">
            <input type="submit" class="button" value="Confirm and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>
        </form>
    </div>
    <br>
</div>

{% endblock %}