{% extends 'govuk_template.html' %}
{% block page_title %}First aid training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="form-group grid-row">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <div class="form-group grid-row">
            <h1 class="form-title heading-large" style="margin-top: 0px;">
                First aid training
            </h1>
            <p>You will have to go on a full paediatric first aid course.</p>
            <p>This should last at least 12 hours. It is usually a 2-day course.</p>
            <p>Courses cost between &#163;100 and &#163;200.</p>
            <p>You have to renew your certificate every 3 years to keep it up to date.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button button-submit" value="Continue">
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
    </form>
</div>

{% endblock %}