{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<main id="content" role="main">
    <div class="column-full">
        <div class="form-group grid-row" style="padding-top: 30px;">
    		<a href="javascript:history.back()" style="margin-right: 10px; line-height: 28px">
        		<svg width="18px" height="17px" viewBox="0 -30 10 110" xml:space="preserve">
                	<polyline fill="solid" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
                </svg>
        	Back
    		</a>
		</div>
		<form action="/first-aid/" method="post" class="form"> {% csrf_token %}
			<div class="grid-row">
	        	<h1 class="form-title heading-large">
	            First aid training details
	            </h1>
	            <p>Please give details of your paediatric first aid training course.</p>
	            <p>You will have to renew your first aid training every 3 years.</p>
	            <p>An inspector will ask to see your first aid certificate when they visit your home.</p>
	        </div>
	        <div class="form-group grid-row">
				<details role="group">
	            	<summary role="button" aria-controls="details-content-0" aria-expanded="false">
	            		<span class="summary">What training do I need?</span>
	            	</summary>
	                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
	                	<p>You have to do a full 12-hour paediatric first aid course.</p>
	                    <p>Courses cost between &#163;75 and &#163;00.</p>
	                    <p>Ask your council for details of courses in your area.</p>
	                    <p>You can come back to this section when you have booked your course.</p>
	                    <ul class="list-bullet list-item-wrapper">
	                    	<li><a href="https://www.gov.uk/find-local-council" class="external-link" target="_blank">Find your local council</a></li>
	                        <li><a href="https://www.redcrossfirstaidtraining.co.uk/Courses/First-aid-at-work-courses-uk-mainland/Scheduled-courses/Paediatric-first-aid.aspx" class="external-link" target="_blank">Red Cross course</a></li>
	                        <li><a href="http://www.sja.org.uk/sja/training-courses/first-aid-courses/paediatric-first-aid.aspx" class="external-link" target="_blank">St John Ambulance course</a></li>
	                    </ul>
	                </div>   
	            </details>
	            {{form}}
	            <input type="hidden" value="{{application_id}}" name = "id" />    
			</div>
			<div class="form-group grid-row">
	    		<input type="submit" class="button" value="Save and continue">
			</div>
			<div class="form-group grid-row">
	    		<div class="form-group">
	    			<a href="/task-list?id={{application_id}}">Return to list</a>
				</div>
			</div>
		</form>
    </div>
</main>

{% endblock %}