{% extends 'govuk_template.html' %}
{% block page_title %}First aid training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/first-aid/guidance?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px" alt="Back to application list">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                First aid training details
            </h1>
            <p>Please give details of your paediatric first aid training certificate.</p>
            <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                    <span class="summary">Where can I get training?</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                    <p>Lots of organisations provide training, such as the Red Cross and St John Ambulance.</p>
                    <p>Courses cost between &#163;75 and &#163;200.</p>
                    <p>Ask your council for details of courses in your area.</p>
                    <ul class="list-bullet list-item-wrapper">
                        <li><a href="https://www.gov.uk/find-local-council" class="external-link" target="_blank">Find
                            your local council</a></li>
                        <li>
                            <a href="https://www.redcrossfirstaidtraining.co.uk/Courses/First-aid-at-work-courses-uk-mainland/Scheduled-courses/Paediatric-first-aid.aspx"
                               class="external-link" target="_blank">Red Cross course</a></li>
                        <li>
                            <a href="http://www.sja.org.uk/sja/training-courses/first-aid-courses/paediatric-first-aid.aspx"
                               class="external-link" target="_blank">St John Ambulance course</a></li>
                    </ul>
                </div>
                <br>
            </details>
            <br>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Save and continue" alt='Continue to declaration'>
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
        </br>
        <!-- Return to task list -->
        <div class="form-group grid-row">
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </form>
</div>

{% endblock %}