{% extends 'govuk_template.html' %}
{% block page_title %}First aid training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
	<div class="grid-row" style="padding-top: 30px;">
		<!-- Back button -->
		<a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}&manual=False" style="margin-right: 10px; line-height: 28px" alt='Back to application list'>
			<svg width="18px" height="17px" viewBox="0 -30 10 110" xml:space="preserve">
				<polyline fill="solid" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
			</svg>
			Back
		</a>
	</div>
	<div class="grid-row">
		<h1 class="form-title heading-large">Check your answers: first aid training</h1>
	</div>
	<table class="check-your-answers grid-row" style="table-layout: fixed; width: 100%">
		<thead>
			<tr>
				<th colspan="3">
					<div class="heading-medium">
						First aid training
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Training organisation
				</td>
				<td style="word-wrap: break-word">
					{{training_organisation}}
				</td>
				<td class="change-answer">
					<a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_first_aid_training_organisation" alt='Change training organisation'>
						Change <span class="visuallyhidden">training organisation</span>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Title of first aid course
				</td>
				<td style="word-wrap: break-word">
					{{training_course}}
				</td>
				<td class="change-answer">
					<a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_title_of_training_course" alt='Change course title'>
						Change <span class="visuallyhidden">course title</span>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Date of certificate
				</td>
				{% if certificate_month == 1 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} January {{certificate_year}}
				</td>
				{% elif certificate_month == 2 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} February {{certificate_year}}
				</td>
				{% elif certificate_month == 3 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} March {{certificate_year}}
				</td>
				{% elif certificate_month == 4 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} April {{certificate_year}}
				</td>
				{% elif certificate_month == 5 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} May {{certificate_year}}
				</td>
				{% elif certificate_month == 6 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} June {{certificate_year}}
				</td>
				{% elif certificate_month == 7 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} July {{certificate_year}}
				</td>
				{% elif certificate_month == 8 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} August {{certificate_year}}
				</td>
				{% elif certificate_month == 9 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} September {{certificate_year}}
				</td>
				{% elif certificate_month == 10 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} October {{certificate_year}}
				</td>
				{% elif certificate_month == 11 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} November {{certificate_year}}
				</td>
				{% elif certificate_month == 12 %}
				<td style="word-wrap: break-word">
					{{certificate_day}} December {{certificate_year}}
				</td>
				{% endif %}
				<td class="change-answer">
					<a href="{{ URL_PREFIX }}/first-aid/details?id={{application_id}}#id_course_date-label" alt='Change date of certificate'>
						Change <span class="visuallyhidden">date of certificate</span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="form-group grid-row">
		<form action ="{{ URL_PREFIX }}/task-list?id={{application_id}}" method="get">
			<input type="submit" class="button" value="Confirm and continue" />
			<input type="hidden" value="{{application_id}}" name = "id" />
		</form>
	</div>
	<br>
</div>

{% endblock %}