<!-- Tab title -->
<head>
	<title>Health declaration booklet</title>
</head>

<!-- Implement GOV.UK template -->
{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
	<div class="form-group grid-row" style="padding-top: 30px;">
		<!-- Back button -->
		<a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" style="margin-right: 10px; line-height: 28px">
			<svg width="18px" height="17px" viewBox="0 -30 10 110" xml:space="preserve">
				<polyline fill="solid" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
			</svg>
			Back
		</a>
	</div>
	<!-- Form -->
	<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
		<!-- Content -->
		<div class="grid-row">
			<h1 class="form-title heading-large">
				Health declaration booklet
			</h1>
			<p>We need to check you are well enough to care for children.</p>
			<p>You will have to fill in a health booklet and get it signed by your GP.</p>
			<p>This asks about your health and any medical problems.</p>
			<p>The GP may charge up to &#163;90 to fill in and sign the booklet.</p>
			{{form.as_div}}
			{% csrf_token %}
			<input type="submit" class="button" value="Continue">
			<input type="hidden" id="id" name="id" value="{{application_id}}" />
		</div>
	</form>
</div>

{% endblock %}