{% extends 'govuk_template.html' %}
{% block page_title %}Health declaration booklet{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<head>
    <style>
        #content {
            margin: auto;
        }

    </style>
</head>
<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                Health declaration booklet
            </h1>
            <p>We need to check you are well enough to care for children.</p>
            <p>You will have to fill in a health booklet and get it signed by your GP.</p>
            <p>This asks about your health and any medical problems.</p>
            <p>The GP may charge up to &#163;90 to fill in and sign the booklet.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
    </form>
</div>

{% endblock %}