<!-- Tab title -->
<head>
	<title>Link not resolved</title>
</head>

<!-- Implement GOV.UK template -->
{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        <h1 class="form-title heading-large">
            Link cannot be resolved
        </h1>
        <p>We are unable to resolve your link.</p>
        <p>Please try logging back in to your account <a href="/existing-application/">here</a>.</p>
    </div>
</div>

{% endblock %}