{% extends 'govuk_template.html' %}
{% block page_title %}People in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        {% if turning_16 is True and children_in_home is True %}
        <a href="{{ URL_PREFIX }}/other-people/approaching-16?id={{application_id}}"
           class="link-back" style="margin-right: 10px; line-height: 28px" alt='Back to application list'>
            Back
        </a>
        {% elif turning_16 is False and children_in_home is True %}
        <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0"
           class="link-back" style="margin-right: 10px; line-height: 28px" alt='Back to application list'>
            Back
        </a>
        {% elif turning_16 is False and children_in_home is False %}
        <a href="{{ URL_PREFIX }}/other-people/children-question?id={{application_id}}"
           class="link-back" style="margin-right: 10px; line-height: 28px" alt='Back to application list'>
            Back
        </a>
        {% endif %}
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">Check your answers: people in your home</h1>
    </div>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <colgroup>
            <col class="summary-column">
            <col class="summary-column">
            <col class="change-answer">
        </colgroup>
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Adults in your home
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Do you live with anyone who is 16 or over?
            </td>
            {% if adults_in_home is True %}
            <td style="word-wrap: break-word" class=summary-column>
                Yes
            </td>
            {% elif adults_in_home is False %}
            <td style="word-wrap: break-word" class=summary-column>
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-question?id={{application_id}}" alt='Change adults in your home'>
                    Change <span class="visuallyhidden">adults in your home</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <colgroup>
            <col class="summary-column">
            <col class="summary-column">
            <col class="change-answer">
        </colgroup>
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Children in your home
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Do you live with any children?
            </td>
            {% if children_in_home is True %}
            <td style="word-wrap: break-word" class=summary-column>
                Yes
            </td>
            {% elif children_in_home is False %}
            <td style="word-wrap: break-word" class=summary-column>
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-question?id={{application_id}}" alt='Change children in your home'>
                    Change <span class="visuallyhidden">children in your home</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {% for name, day, month, year, relationship, dbs_certificate_number, permission in adult_lists %}
    <table class="check-your-answers form-group grid-row">
        <colgroup>
            <col class="summary-column">
            <col class="summary-column">
            <col class="change-answer">
        </colgroup>
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    {{name}}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                Name
            </td>
            <td style="word-wrap: break-word" class=summary-column>
                {{name}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-details?id={{application_id}}&adults={{number_of_adults}}&remove=0" alt='Change adult name'>
                    Change <span class="visuallyhidden">adult name</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                Date of birth
            </td>
            {% if month == 1 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} January {{year}}
            </td>
            {% elif month == 2 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} February {{year}}
            </td>
            {% elif month == 3 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} March {{year}}
            </td>
            {% elif month == 4 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} April {{year}}
            </td>
            {% elif month == 5 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} May {{year}}
            </td>
            {% elif month == 6 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} June {{year}}
            </td>
            {% elif month == 7 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} July {{year}}
            </td>
            {% elif month == 8 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} August {{year}}
            </td>
            {% elif month == 9 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} September {{year}}
            </td>
            {% elif month == 10 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} October {{year}}
            </td>
            {% elif month == 11 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} November {{year}}
            </td>
            {% elif month == 12 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} December {{year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-details?id={{application_id}}&adults={{number_of_adults}}&remove=0" alt='Change adult date of birth'>
                    Change <span class="visuallyhidden">date of birth</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                Relationship
            </td>
            <td style="word-wrap: break-word" class=summary-column>
                {{relationship}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-details?id={{application_id}}&adults={{number_of_adults}}&remove=0" alt='Change adult relationship'>
                    Change <span class="visuallyhidden">adult relationship</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                DBS certificate number
            </td>
            <td style="word-wrap: break-word" class=summary-column>
                {{dbs_certificate_number}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-dbs?id={{application_id}}&adults={{number_of_adults}}" alt='Change adult DBS certificate number'>
                    Change <span class="visuallyhidden">adult DBS certificate number</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                Permission for checks
            </td>
            {% if permission is True %}
            <td style="word-wrap: break-word" class=summary-column>
                Yes
            </td>
            {% elif permission is False %}
            <td style="word-wrap: break-word" class=summary-column>
                No
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/adult-permission?id={{application_id}}&adults={{number_of_adults}}" alt='Change adult permission for checks'>
                    Change <span class="visuallyhidden">adult permission for checks</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
    {% for name, day, month, year, relationship in child_lists %}
    <table class="check-your-answers form-group grid-row">
        <colgroup>
            <col class="summary-column">
            <col class="summary-column">
            <col class="change-answer">
        </colgroup>
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    {{name}}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                Name
            </td>
            <td style="word-wrap: break-word" class=summary-column>
                {{name}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0" alt='Change child name'>
                    Change <span class="visuallyhidden">child name</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                Date of birth
            </td>
            {% if month == 1 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} January {{year}}
            </td>
            {% elif month == 2 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} February {{year}}
            </td>
            {% elif month == 3 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} March {{year}}
            </td>
            {% elif month == 4 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} April {{year}}
            </td>
            {% elif month == 5 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} May {{year}}
            </td>
            {% elif month == 6 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} June {{year}}
            </td>
            {% elif month == 7 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} July {{year}}
            </td>
            {% elif month == 8 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} August {{year}}
            </td>
            {% elif month == 9 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} September {{year}}
            </td>
            {% elif month == 10 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} October {{year}}
            </td>
            {% elif month == 11 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} November {{year}}
            </td>
            {% elif month == 12 %}
            <td style="word-wrap: break-word" class=summary-column>
                {{day}} December {{year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0" alt='Change child date of birth'>
                    Change <span class="visuallyhidden">date of birth</span>
                </a>
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word" class=summary-column>
                Relationship
            </td>
            <td style="word-wrap: break-word" class=summary-column>
                {{relationship}}
            </td>
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0" alt='Change child relationship'>
                    Change <span class="visuallyhidden">child relationship</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
    <br>
    <div class="form-group grid-row">
        <form action="{{ URL_PREFIX }}/task-list?id={{application_id}}" method="get">
            <input type="submit" class="button" value="Confirm and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>
        </form>
    </div>
    <br>
</div>

{% endblock %}