{% extends 'govuk_template.html' %}
{% block page_title %}People in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<head>
    <style>
        #content {
            margin: auto;
        }

    </style>
</head>
<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <div class="form-group grid-row">
        <h1 class="form-title heading-large">
            Adults in your home
        </h1>
        <p>We need to know about anyone aged 16 or over in your home.</p>
        <p>This is to make sure the home is safe for children.</p>
        <p>This includes all adults who live there, or who work there.</p>
        <form class="form" method="post" action="{{ URL_PREFIX }}/other-people/">{% csrf_token %}
            <fieldset class="inline">
                <h2 class="heading-small">
                    Is there anyone else aged 16 or over in your home?
                </h2>
                <div class="multiple-choice">
                    <input id="other-people-yes" type="radio" name="radio-other-people-group" value="Yes">
                    <label for="other-people-yes">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="other-people-no" type="radio" name="radio-other-people-group" value="No">
                    <label for="other-people-no">No</label>
                </div>
            </fieldset>
            <br>
            <input class="button" type="submit" value="Save and continue">
            <input type="hidden" value="{{application_id}}" name="id"/>
        </form>
    </div>
    <div class="form-group grid-row">
        <div class="form-group">
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </div>
</div>
{% endblock %}
