{% extends 'govuk_template.html' %}
{% block page_title %}People in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        {% if turning_16 is True %}
        <a href="{{ URL_PREFIX }}/other-people/approaching-16?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px"
           alt="Back to application list">
            Back
        </a>
        {% elif turning_16 is False %}
        <a href="{{ URL_PREFIX }}/other-people/children-details?id={{application_id}}&children={{number_of_children}}&remove=0" class="link-back"
           style="margin-right: 10px; line-height: 28px"
           alt="Back to application list">
            Back
        </a>
        {% endif %}
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                Number of children you can look after
            </h1>
            <p>Each childminder can look after up to 6 children under the age of 8.</p>
            <p>The children can include:</p>
            <div style="margin: 35px;">
                <ul style="list-style-type:disc">
                    <li>1 child under 12 months old</li>
                    <li>3 children under 5 years old</li>
                </ul>
            </div>
            <p>You can care for more children if you work with other childminders or assistants.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
    </form>
</div>

{% endblock %}