{% extends 'govuk_template.html' %}
{% block page_title %}People in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px"
           alt="Back to application list">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                People in your home
            </h1>
            <p>Tell us about everyone in your home, such as your partner, children or other family members.</p>
            <p>Include anyone who stays with you regularly, like a child at university.</p>
            <p>Also tell us about anyone who will be there when you're looking after children, like an assistant, carer or cleaner.</p>
            <p>Anyone aged 16 or over must get a criminal record (DBS) check.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
    </form>
</div>

{% endblock %}