{% extends 'govuk_template.html' %}
{% block page_title %}Fee paid{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<head>
    <style>
        #content {
            margin: auto;
        }

    </style>
</head>
<div class="column-full">
	<div class="grid-row">
        <h1 class="form-title heading-large">
            Fee paid
        </h1>
        <p>Thank you, you have already paid your fee.</p>
        <p>View your payment confirmation <a href="{{URL_PREFIX}}/confirmation/?id={{application_id}}&orderCode={{order_code}}">here</a>.</p>
    </div>
</div>

{% endblock %}