<!-- Tab title -->
<head>
    <title>Payment</title>
</head>

<!--  Implement GOV.UK template -->
{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<div class="column-full">
    <div class="grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/confirm-your-answers?id={{application_id}}" style="margin-right: 10px; line-height: 28px">
            <svg width="18px" height="17px" viewBox="0 -30 10 110" xml:space="preserve">
				<polyline fill="solid" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
			</svg>
            Back
        </a>
    </div>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <div class="grid-row">
            <h1 class="form-title heading-large">
                Pay your fee
            </h1>
            <p>You need to pay &#163;35 to apply.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Make payment and apply">
            <input type="hidden" name="id" value="{{application_id}}"/>
        </div>
        </br>
        <div class="grid-row">
            <div class="form-group">
                <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}