{% extends 'govuk_template.html' %}
{% block page_title %}Payment confirmed{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Thank you for applying</h1>
            <br>
            <p>
                Your reference number is
                <br>
                <br>
                <strong class="heading-medium">{{order_code}}</strong>
            </p>
        </div>
        <h2 class="heading-medium">
            Payment summary
        </h2>
        <div class="form-group">
            <table class="check-your-answers">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Register to be a childminder application fee</td>
                    <td>&#163;35.00</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td><span class="bold-small">Total</span></td>
                    <td><span class="bold-small">&#163;35.00</span></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <h2 class="heading-medium">
            Your application details
        </h2>
        <p>We have sent you a copy of your application by email.</p>
        <p style="margin-left: 20px;"><img src="{% static 'printer.png' %}" alt="Print"
                                           style="height: 20px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
            <a href="">Print page</a></p>
        <p style="margin-left: 20px;"><img src="{% static 'download-button.png' %}" alt="Download"
                                           style="height: 20px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
            <a href="">Download application</a></p>
        <p style="margin-left: 20px;"><img src="{% static 'printer.png' %}" alt="Print"
                                           style="height: 20px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
            <a href="">Print application</a></p>
        <h2 class="heading-medium">
            What happens next
        </h2>
        <p>Ofsted staff will:</p>
        <ul class="list-bullet" style="margin-bottom: 20px; margin-left: 20px;">
            <li>review your application</li>
            <li>ask for references</li>
            <li>carry out checks with social services</li>
            <li>check the health booklet</li>
            <li>arrange for an inspector to visit</li>
        </ul>
        <p>All this normally takes 3 months in total.</p>
        <p>We will email you after the initial review.</p>
        <p>There can be delays if information is missing or we have to wait for references or social services
            checks.</p>
        <p>We will organise a visit once all the checks have been done.</p>
        <p>You should get a decision within a week of the visit.</p>
        <h2 class="heading-medium">
            More about next steps
        </h2>
        <ul class="list-bullet" style="margin-left: 20px;">
            <li><a href="">Documents you need for the visit</a></li>
            <li><a href="">Get the home ready</a></li>
            <li><a href="">Equipment and resources</a></li>
            <li><a href="">Prepare for your interview</a></li>
        </ul>
        <h2 class="heading-medium">
            Contact us
        </h2>
        <p>Contact us if you have any questions about your application.</p>
        <div class="panel panel-border-narrow">
            <div>
                Ofsted
            </div>
            <div>
                <a href="mailto:enquiries@ofsted.gov.uk">enquiries@ofsted.gov.uk</a>
            </div>
            <div>
                Phone: 0300 123 1231
            </div>
            <div>
                Monday to Friday, 8am to 6pm
            </div>
            <div>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}