{% extends 'govuk_template.html' %}
{% block page_title %}Personal details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a href="{{ URL_PREFIX }}/personal-details/dob?id={{application_id}}" style="margin-right: 10px; line-height: 28px"
           alt="Back to application list">
            <svg width="18px" height="17px" viewBox="0 -30 10 110" xml:space="preserve">
				<polyline fill="solid" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
			</svg>
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="grid-row">
            <h1 class="form-title heading-large">
                Your home address
            </h1>
            <legend id='{{form.postcode.id_for_label}}-label' class="form-label-bold">{{form.postcode.label}}</legend>
            {{form.postcode}}
            {% csrf_token %}
            </br>
            </br>
            <a href="{{ URL_PREFIX }}/personal-details/home-address?id={{application_id}}&manual=True" name="manual" id="manual">Enter
                address manually</a>
            </br>
            </br>
            <input type="submit" class="button button-search" value="Find postcode" alt='Continue to declaration'>
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
            <input type="hidden" id="manual" name="manual" value="False"/>
        </div>
        </br>
        <!-- Return to task list -->
        <div class="form-group grid-row">
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </form>
</div>

{% endblock %}