{% extends 'govuk_template.html' %}
{% block page_title %}Personal details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/personal-details/childcare-address?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large" style="margin-top: 0px;">
                Select childcare address
            </h1>
            <p>Where will you be looking after the children?</p>
            <h2 class="form-title heading-small">Postcode</h2>
            <p>{{postcode}} <a href="{{ URL_PREFIX }}/personal-details/childcare-address?id={{application_id}}">Change</a></p>
            <legend id='{{form.postcode.id_for_label}}-label' class="form-label-bold">{{form.postcode.label}}</legend>
            {{form.as_div}}
            {% csrf_token %}
            <br>
            <a href="{{ URL_PREFIX }}/personal-details/enter-childcare-address?id={{application_id}}" name="manual"
               id="manual">I can't find my address in the list</a>
            <br>
            <br>
            <input type="submit" class="button button-submit" value="Save and continue">
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
        <br>
        <!-- Return to task list -->
        <div class="form-group grid-row">
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </form>
</div>

{% endblock %}