{% extends 'govuk_template.html' %}
{% block page_title %}Personal details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large" style="margin-top: 0px;">
                Personal details
            </h1>
            <p>You need to give your full name and home address.</p>
            <p>The details must match what is in your criminal record (DBS) check.</p>
            <p>Make sure you include any middle names.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
    </form>
</div>

{% endblock %}