{% extends 'govuk_template.html' %}
{% block page_title %}Personal details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/personal-details/location-of-care?id={{application_id}}&manual=False"
           class="link-back" style="margin-right: 10px; line-height: 28px" alt='Back to application list'>
            Back
        </a>
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">Check your answers: your personal details</h1>
    </div>
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your name and date of birth
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Your name
            </td>
            {% if middle_names %}
            <td style="word-wrap: break-word">
                {{first_name}} {{middle_names}} {{last_name}}
            </td>
            {% elif not middle_names %}
            <td style="word-wrap: break-word">
                {{first_name}} {{last_name}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/name?id={{application_id}}" alt='Change name'>
                    Change <span class="visuallyhidden">your name</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Your date of birth
            </td>
            {% if birth_month == 1 %}
            <td style="word-wrap: break-word">
                {{birth_day}} January {{birth_year}}
            </td>
            {% elif birth_month == 2 %}
            <td style="word-wrap: break-word">
                {{birth_day}} February {{birth_year}}
            </td>
            {% elif birth_month == 3 %}
            <td style="word-wrap: break-word">
                {{birth_day}} March {{birth_year}}
            </td>
            {% elif birth_month == 4 %}
            <td style="word-wrap: break-word">
                {{birth_day}} April {{birth_year}}
            </td>
            {% elif birth_month == 5 %}
            <td style="word-wrap: break-word">
                {{birth_day}} May {{birth_year}}
            </td>
            {% elif birth_month == 6 %}
            <td style="word-wrap: break-word">
                {{birth_day}} June {{birth_year}}
            </td>
            {% elif birth_month == 7 %}
            <td style="word-wrap: break-word">
                {{birth_day}} July {{birth_year}}
            </td>
            {% elif birth_month == 8 %}
            <td style="word-wrap: break-word">
                {{birth_day}} August {{birth_year}}
            </td>
            {% elif birth_month == 9 %}
            <td>
                {{birth_day}} September {{birth_year}}
            </td>
            {% elif birth_month == 10 %}
            <td>
                {{birth_day}} October {{birth_year}}
            </td style="word-wrap: break-word">
            {% elif birth_month == 11 %}
            <td style="word-wrap: break-word">
                {{birth_day}} November {{birth_year}}
            </td>
            {% elif birth_month == 12 %}
            <td style="word-wrap: break-word">
                {{birth_day}} December {{birth_year}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/dob?id={{application_id}}" alt='Change your date of birth'>
                    Change <span class="visuallyhidden">date of birth</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="check-your-answers form-group grid-row">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your home address
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Home address
            </td>
            {% if street_line2 and county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{street_line2}}
                </br>
                {{town}}
                </br>
                {{county}}
                </br>
                {{postcode}}
            </td>
            {% elif street_line2 and not county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{street_line2}}
                </br>
                {{town}}
                </br>
                {{postcode}}
            </td>
            {% elif not street_line2 and county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{town}}
                </br>
                {{county}}
                </br>
                {{postcode}}
            </td>
            {% elif not street_line2 and not county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{town}}
                </br>
                {{postcode}}
            </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/home-address?id={{application_id}}&manual=False"
                   alt='Change your home address'>
                    Change <span class="visuallyhidden">home address</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Childcare location
            </td>
            {% if location_of_childcare == True %}
            <td style="word-wrap: break-word">
                Same as home address
            </td>
            {% elif location_of_childcare == False %}
            {% if childcare_street_line2 and childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_street_line2}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_county}}
                </br>
                {{childcare_postcode}}
            </td>
            {% elif childcare_street_line2 and not childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_street_line2}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_postcode}}
            </td>
            {% elif not childcare_street_line2 and childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_county}}
                </br>
                {{childcare_postcode}}
            </td>
            {% elif not childcare_street_line2 and not childcare_county %}
            <td style="word-wrap: break-word">
                {{childcare_street_line1}}
                </br>
                {{childcare_town}}
                </br>
                {{childcare_postcode}}
            </td>
            {% endif %}
            {% endif %}
            <td class="change-answer">
                <a href="{{ URL_PREFIX }}/personal-details/location-of-care?id={{application_id}}&manual=True"
                   alt='Change your childcare address'>
                    Change <span class="visuallyhidden">your name</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="form-group grid-row">
        <form action="{{ URL_PREFIX }}/task-list?id={{application_id}}" method="get">
            <input type="submit" class="button" value="Confirm and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>
        </form>
    </div>
    <br>
</div>

{% endblock %}