{% extends 'govuk_template.html' %}
{% block page_title %}Your home address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<div class="column-full">
    <div class="grid-row">
        <a href="{{ URL_PREFIX }}/personal-details/your-date-of-birth?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px" alt="Back to application list">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                Your home address
            </h1>
            {% if not form.errors %}
            <div id="id_postcode-group" class="form-group-required form-group">
                <label id="id_postcode-label" class="form-label-bold" for="id_postcode">
                    {{form.postcode.label}}
                </label>
                <span style="margin-right: 10px;">{{form.postcode}}</span><input type="submit"
                                                                                 class="button button-search"
                                                                                 value="Find address"
                                                                                 name="postcode-search">
            </div>
            {% elif form.errors %}
            <div id="id_postcode-group" class="form-group-error form-group-required form-group">
                <label id="id_postcode-label" class="form-label-bold" for="id_postcode">
                    {{form.postcode.label}}
                </label>
                <span class="error-message">
                    {% for error in form.postcode.errors %}
                        {{error}}
                    {% endfor %}
                </span>
                {% if form.postcode.initial is not None %}
                <input type="text" name="postcode" class="form-control-error form-control"
                       value="{{form.postcode.initial}}" required="" id="id_postcode">
                {% elif form.postcode.initial is None %}
                <input type="text" name="postcode" class="form-control-error form-control"
                       value="" required="" id="id_postcode">
                {% endif %}
                <input type="submit" class="button button-search" value="Find address" name="postcode-search"
                       style="margin-left: 10px;">
            </div>
            {% endif %}
            {% csrf_token %}
            <br>
            <br>
            <a href="{{ URL_PREFIX }}/personal-details/enter-home-address?id={{application_id}}"
               name="manual" id="manual">Enter address manually</a>
            <br>
            <br>
            <br>
            <input type="submit" class="button button-submit" value="Save and continue" name="submit"
                   alt='Continue to declaration'>
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
        <br>
        <!-- Return to task list -->
        <div class="form-group grid-row">
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </form>
</div>

{% endblock %}