{% extends 'govuk_template.html' %}
{% block page_title %}Personal details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<head>
    <style>
        #content {
            margin: auto;
        }

    </style>
</head>
<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/personal-details/location-of-care?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px"
           alt="Back to application list">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="form-group grid-row">
            <h1 class="form-title heading-large">
                Childcare address
            </h1>
            <p>Where will you be looking after the children?</p>
            <legend id='{{form.postcode.id_for_label}}-label' class="form-label-bold">{{form.postcode.label}}</legend>
            {{form.postcode}}
            {% csrf_token %}
            </br>
            </br>
            <a href="{{ URL_PREFIX }}/personal-details/childcare-address?id={{application_id}}&manual=True"
               name="manual" id="manual">Enter
                address manually</a>
            </br>
            </br>
            <input type="submit" class="button button-search" value="Find postcode" alt='Continue to declaration'>
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
            <input type="hidden" id="manual" name="manual" value="False"/>
        </div>
        </br>
        <!-- Return to task list -->
        <div class="form-group grid-row">
            <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
        </div>
    </form>
</div>

{% endblock %}