{% extends 'govuk_template.html' %}
{% block page_title %}References{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Back
        </a>
    </div>
    <!-- Form -->
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <!-- Content -->
        <div class="grid-row">
            <h1 class="form-title heading-large">
                References
            </h1>
            <p>You need to give details of 2 people who can give you a reference.</p>
            <p>You can use anyone who knows you well (like a friend, neighbour or teacher), but not family.</p>
            <p>We ask referees if you are:</p>
            <div style="margin: 35px;">
                <ul style="list-style-type:disc">
                    <li>honest, reliable and trustworthy</li>
                    <li>able to look after children</li>
                </ul>
            </div>
            <p>They must have known you for at least 1 year.</p>
            {{form.as_div}}
            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
            <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        </div>
    </form>
</div>

{% endblock %}