{% extends 'govuk_template.html' %}
{% block page_title %}Register as a childminder{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            Register as a childminder (England)
        </h1>
        <p>Register as a childminder to look after children in your home.</p>
        <h2 class="heading-medium">
            Before you start
        </h2>
        <p>You will need the following:</p>
        <ul class="list list-bullet" style="margin-left: 30px;">
            <li>criminal record (DBS) certificate</li>
            <li>DBS certificates for anyone over 16 in your home</li>
            <li>paediatric first aid certificate</li>
            <li>health declaration booklet</li>
            <li>2 references</li>
        </ul>
        <h2 class="heading-medium">
            Childcare training
        </h2>
        <p>You will have to show how you will follow the Early Years Foundation Stage standards for children under 5.</p>
        <p>You should go on a training course if you don't know how you will meet the standards.</p>
        <p>Contact your council for details of courses in your area.</p>
        <h2 class="heading-medium">
            How much it costs
        </h2>
        <p>It usually costs &#163;35 to register with Ofsted.</p>
        <p>You will have to pay for your own DBS and health checks, training and equipment.</p>
        <p>Find out <a href="">more about costs</a>.</p>
        <h2 class="heading-medium">
            How long it takes
        </h2>
        <p>It should take you 30 minutes to fill in this form.</p>
        <p>It takes about 3 months to register with Ofsted.</p>
        <p>An inspector will visit your home if you will be looking after children aged 5 or under.</p>
        <br>
        <form action="{{ URL_PREFIX }}/account/account" method="get">
            <input type=submit class="button button-start" value="Start now">
        </form>
    </div>
    <div class="column-one-third">
        <h2 class="heading-medium">
            Related content
        </h2>
        <p><a href="">Register as a childminder quick guide</a></p>
        <p><a href="">Early years foundation stage</a></p>
        <p><a href="">Find your local council</a></p>
    </div>
</div>

{% endblock %}