<!-- Tab title -->
<head>
	<title>Register as a childminder</title>
</head>

<!-- Implement GOV.UK template -->

{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-heading page-heading-with-context">
            <h1 class="heading-xlarge">Apply to register as a childminder</h1>
            <p>Fill in these sections in any order to apply.</p>

            <p>You don&#39;t have to do them all in one go.</p>
        </header>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="form-group">
            <table id="your-details">
                <tbody>
                <tr id="account_details">
                    <td class="task" style="padding-right: 10px">
                        {% if login_details_status == 'NOT_STARTED' %}
                            <a href="/account/email?id={{application_id}}" >
                                <span class="task-name">Your login and contact details</span>
                            </a>
                        {% endif %}
                        {% if login_details_status == 'IN_PROGRESS' %}
                            <a href="/account/email?id={{application_id}}" >
                                <span class="task-name">Your login and contact details</span>
                            </a>
                        {% endif %}
                        {% if login_details_status == 'COMPLETED' %}
                            <a href="/account/summary?id={{application_id}}" >
                                <span class="task-name">Your login and contact details</span>
                            </a>
                        {% endif %}
                    </td>
                    {% if login_details_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                        </td>
                    {% elif login_details_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                        </td>
                    {% elif login_details_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                        </td>
                    {% endif %}
                </tr>
                <tr id="children">
                    <td class="task" style="padding-right: 10px">
                        <a href="/childcare?id={{application_id}}">
                            <span class="task-name">Type of childcare</span>
                        </a>
                    </td>
                    {% if childcare_type_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                        </td>
                    {% elif childcare_type_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                        </td>
                    {% elif childcare_type_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                        </td>
                    {% endif %}
                </tr>
                <tr id="personal_details">
                    <td class="task" style="padding-right: 10px">
                        {% if personal_details_status == 'NOT_STARTED' %}
                            <a href="/personal-details/guidance?id={{application_id}}" >
                                <span class="task-name">Your personal details</span>
                            </a>
                        {% endif %}
                        {% if personal_details_status == 'IN_PROGRESS' %}
                            <a href="/personal-details/guidance?id={{application_id}}" >
                                <span class="task-name">Your personal details</span>
                            </a>
                        {% endif %}
                        {% if personal_details_status == 'COMPLETED' %}
                            <a href="/personal-details/summary?id={{application_id}}" >
                                <span class="task-name">Your personal details</span>
                            </a>
                        {% endif %}
                    </td>
                    {% if personal_details_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif personal_details_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif personal_details_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                    {% endif %}
                    </td>
                </tr>
                <tr id="first_aid">
                    <td class="task" style="padding-right: 10px">
                        {% if first_aid_training_status == 'NOT_STARTED' %}
                            <a href="/first-aid/guidance?id={{application_id}}" >
                                <span class="task-name">First aid training</span>
                            </a>
                        {% endif %}
                        {% if first_aid_training_status == 'IN_PROGRESS' %}
                            <a href="/first-aid/guidance?id={{application_id}}" >
                                <span class="task-name">First aid training</span>
                            </a>
                        {% endif %}
                        {% if first_aid_training_status == 'COMPLETED' %}
                            <a href="/first-aid/summary?id={{application_id}}" >
                                <span class="task-name">First aid training</span>
                            </a>
                        {% endif %}
                    </td>
                    {% if first_aid_training_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif first_aid_training_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif first_aid_training_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                    {% endif %}
                    </td>
                </tr>
                 <tr id="eyfs">
                    <td class="task" style="padding-right: 10px">
                        <a href="/eyfs?id={{application_id}}">
                            <span class="task-name">Early Years knowledge</span>
                        </a>
                    </td>
                    {% if eyfs_training_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif eyfs_training_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif eyfs_training_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                    {% endif %}
                    </td>
                </tr>
                <tr id="dbs">
                    <td class="task" style="padding-right: 10px">
                        {% if criminal_record_check_status == 'NOT_STARTED' %}
                        <a href="/dbs-check/guidance?id={{application_id}}" id="{{application_id}}">
                            <span class="task-name">Your criminal record (DBS) check</span>
                        </a>
                        {% elif criminal_record_check_status == 'IN_PROGRESS' %}
                        <a href="/dbs-check/guidance?id={{application_id}}" id="{{application_id}}">
                            <span class="task-name">Your criminal record (DBS) check</span>
                        </a>
                        {% elif criminal_record_check_status == 'COMPLETED' %}
                        <a href="/dbs-check/summary?id={{application_id}}" id="{{application_id}}">
                            <span class="task-name">Your criminal record (DBS) check</span>
                        </a>
                        {% endif %}
                    </td>
                    {% if criminal_record_check_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif criminal_record_check_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif criminal_record_check_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                    {% endif %}
                    </td>
                </tr>
                <tr id="health">
                    <td class="task" style="padding-right: 10px">
                        <a href="/health?id={{application_id}}">
                            <span class="task-name">Your health</span>
                        </a>
                    </td>
                    {% if health_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif health_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif health_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                    {% endif %}
                    </td>
                </tr>
                <tr id="references">
                    <td class="task" style="padding-right: 10px">
                        <a href="/references?id={{application_id}}">
                            <span class="task-name">2 references</span>
                        </a>
                    </td>
                    {% if reference_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif reference_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif reference_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                    {% endif %}
                    </td>
                </tr>
                <tr id="other_people">
                    <td class="task" style="padding-right: 10px">
                        <a href="/other-people?id={{application_id}}">
                            <span class="task-name">People in your home</span>
                        </a>
                    </td>
                    {% if people_in_home_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif people_in_home_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif people_in_home_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                    {% endif %}
                    </td>
                </tr>
                {% if all_complete == False %}
                <tr id="reviewInactive">
                    <td class="task" style="padding-right: 10px">
                        <p>
                            <span class="task-name" style="color: #6F777B; text-decoration: none">Declaration</span>
                        </p><p>
                    </p></td>
                    <td class="numeric" id="task-status11">
                        <strong class="task-finished task-do-last">Do last</strong>
                    </td>
                </tr>
                {% endif %}
                {% if all_complete == True  %}
                <tr id="review">
                    <td class="task" style="padding-right: 10px">
                        <a href="/declaration/?id={{application_id}}">
                            <span class="task-name">Declaration</span>
                        </a>
                    </td>
                    {% if declaration_status == 'NOT_STARTED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-in-progress">To do</strong>
                    {% elif declaration_status == 'IN_PROGRESS' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished task-to-do">Started</strong>
                    {% elif declaration_status == 'COMPLETED' %}
                        <td class="numeric" id="task-status">
                            <strong class="task-finished">Done</strong>
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not all_complete %}
        <div class="column-two-thirds">
            <div class="form-group" style="margin-top:20px;">

                <p>You can apply when everything is complete.</p>

            </div>
        </div>
    {% endif %}
    {% if confirm_details %}
        <form action ="/confirm-your-answers" method="get">
            <div class="column-two-thirds">
                <div class="form-group" style="margin-top: 20px;">
                    <input type=submit class="button button-start" value="Confirm your details" />
                    <input type="hidden" value="{{application_id}}" name = "id" />
                </div>
            </div>
        </form>
    {% endif %}
    <div class="column-two-thirds">
        <div class="form-group">
            <input type="hidden" value="{{application_id}}" name = "id" />
            <a href="/application-saved/?id={{application_id}}" class="button-save-and-exit" style="margin-left: 0px;">Save and exit</a>
        </div>
    </div>
</div>

{% endblock %}