{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Register as a childminder{% endblock %}
{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-heading page-heading-with-context">
            <h1 class="heading-xlarge">Register as a childminder list</h1>
            <p><span style="font-weight: bold;">Your application:</span> {{ registers }}</p>
            <p><span style="font-weight: bold;">Fee:</span> {{ fee }} (<a href="#">more about costs</a>)</p>
            <br>
            <p>Fill in the sections below to apply.</p>
        </header>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">

        <div class="form-group">
            <table id="your-details">
                <tbody>
                    
                    {% for task in tasks %}
                        {% if task.name == "review" and all_complete == False %}

                            <tr id="reviewInactive"> {# Display grayed out review button #}
                                <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                                    <span>
                                        <span class="task-name" style="color: #BFC1C3; pointer-events: none;">Declaration and payment</span>
                                        <strong class="task-finished task-do-last">Do last</strong>
                                    </span>
                                </td>
                            </tr>

                        {% else %}

                        <tr id="{{ task.name }}">
                            <td class="task" style="padding-right: 10px; word-wrap: break-word;">

                                <a href="{% url task.status_url %}?id={{ id }}">

                                    <span class="task-name">{{ task.description }}</span>

                                    {% if task.status == 'NOT_STARTED' %}
                                        <strong class="task-finished task-to-do">To do</strong>
                                    {% elif task.status == 'IN_PROGRESS' %}
                                        <strong class="task-finished task-in-progress">Started</strong>
                                    {% elif task.status == 'COMPLETED' %}
                                        <strong class="task-finished">Done</strong>
                                    {% endif %}

                                </a>

                            </td>
                        </tr>

                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="column-two-thirds">
        <div class="form-group" style="margin-top:20px;">
            <p>You can apply when everything is complete.</p>
        </div>
    </div>

    <div class="column-two-thirds">
        <div class="form-group">
            <input type="hidden" value="{{ id }}" name="id"/>
            <a href="{% url 'Application-Saved-View' %}?id={{ id }}" class="button-save-and-exit" style="margin-left: 0px;">Save and exit</a>
        </div>
    </div>
</div>

{% endblock %}
