{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block content %}
    {% if app_list %}
        {% for app in app_list %}
            {% if app.app_label == "auth" %}
                <h2 class="heading-medium">{{ app.name }}</h2>
                {% for model in app.models %}
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                    <br/>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}